<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
           ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
            <!--<level>INFO</level>-->
            <!--<onMatch>NEUTRAL</onMatch>-->
            <!--<onMismatch>DENY</onMismatch>-->
        <!--</filter>-->
        <!--<filter class="ch.qos.logback.core.filter.EvaluatorFilter">-->
            <!--<evaluator> &lt;!&ndash; 默认为 ch.qos.logback.classic.boolex.JaninoEventEvaluator &ndash;&gt;-->
                <!--<expression>return formattedMessage.contains("MyGraphHopperOSM");</expression>-->
            <!--</evaluator>-->
            <!--<OnMatch>DENY</OnMatch>-->
            <!--<OnMismatch>ACCEPT</OnMismatch>-->
        <!--</filter>-->

        <!--<filter class="ch.qos.logback.core.filter.EvaluatorFilter">-->
            <!--<evaluator>-->
                <!--<matcher>-->
                    <!--<Name>odd</Name>-->
                    <!--<regex>MyGraphHopperOSM</regex>-->
                <!--</matcher>-->
                <!--<expression>odd.matches(formattedMessage)</expression>-->
            <!--</evaluator>-->
            <!--<OnMismatch>ACCEPT</OnMismatch>-->
            <!--<OnMatch>DENY</OnMatch>-->
        <!--</filter>-->
        <encoder>
            <pattern>%d{MM-dd HH:mm:ss} [%thread{4}] %-5level %logger{36} - %msg%n</pattern>
            <!--<pattern>%d{HH:mm} %-25logger{0} - %msg%n</pattern>-->
        </encoder>
    </appender>

    <appender name="LOGFILE" class="ch.qos.logback.core.FileAppender">
        <file>uniqueLogfile-info.log</file>
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
        <level>INFO</level>
        <onMatch>NEUTRAL</onMatch>
        <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOGFILE_DETAIL" class="ch.qos.logback.core.FileAppender">
        <file>uniqueLogfile-detail.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d [%thread{4}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--<logger name="com.javacodegeeks.examples.logbackexample.beans" level="INFO" additivity="false">-->
        <!--<appender-ref ref="FILE" />-->
    <!--</logger>-->
    <logger name="dev" level="TRACE" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="LOGFILE" />
        <appender-ref ref="LOGFILE_DETAIL" />
    </logger>

    <logger name="test" level="TRACE" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="TRACE">
        <appender-ref ref="STDOUT" />
        <!--<appender-ref ref="LOGFILE" />-->
        <!--<appender-ref ref="LOGFILE_DETAIL" />-->
    </root>

</configuration>